<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group2.mapper.MarriedPersonMapper">

    <select id="getMarriedPersonByNameAndPhone" resultType="com.group2.pojo.MarriedPerson">
        select * from t_married_person
        <where>
            <if test="pname != null and pname != ''">
                pname like concat('%',#{pname},'%')
            </if>

            <if test="pphone != null and pphone != ''">
                and pphone like concat('%',#{pphone},'%')
            </if>
        </where>
    </select>
</mapper>